.conteudo{
    background-color: rgb(73, 70, 70);
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: gray;
    text-align: center;
    font-size: 35px;
}
.conteudo div{
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80%;
    border-radius: 5px;
    background-color: gray;
}
.imagens{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.imagens img{
    border-radius: 5px;
    margin: 10px;
}
.imagens p {
    border-radius: 5px 5px 0px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 30px;
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
    font-size: 20px;
}

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    position: relative;
    overflow: hidden;
}
.carousel img{
    height: 100%;
    width: 100%;
}

.carousel-image {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    object-fit: cover;
}

.carousel-image.active {
    display: flex;
    z-index: 1;
}

.prevBtn, .nextBtn {
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.5%;
    z-index: 100;
}

.prevBtn {
    left: 1%;
}

.nextBtn {
    right: 1%;
}
@media (max-width: 600px) {
    h2{
        font-size: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .conteudo{
        margin: 0;
        border-radius: 0;
    }
    .conteudo div{
        width: 95%;
    }
    .prevBtn, .nextBtn{
        height: 100%;
        width: 5vh;
    }
}






