        .conteudo{
            background-color: rgb(73, 70, 70);
            padding: 1%;
            border-radius: 5px;
            margin: 1%;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .conteudo div{
            margin: 1%;
            background-color:grey;
            color: white;
        }    
        .conteudo div h2{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .conteudo div img{
            object-fit: cover;
        }
        .conteudo img:hover{
            transform: scale(1.05);
            border-radius: 10px;
            transition: 1s;
        }