#subTitulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: gray;
    font-size: 35px;
    color: white;
}
#conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#conteudo div{
    display:flex;
    margin: 1%;
    width: 600px;
    height: 200px;
}
#conteudo img{
    object-fit: cover;
    margin-right: 10px;
}
#conteudo ul img{
    margin: 5px;
    width: 40px;
    height: 40px;
}
#conteudo h2, ul, ol{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}
ol, a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

